<a class="navbar-brand">Edit Course</a>
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
            <div class="form-group">
            <mat-form-field appearance="fill">
            <mat-label>Class:</mat-label>
            <mat-select [formControl]="selectedCourse" id="select1">
              <mat-option *ngFor="let course of courses" [value]="course">
                  {{course.name}}</mat-option>
            </mat-select>
            <input
              class="form-control"
              type="hidden"
              formControlName="name"
              required
            />
           </mat-form-field>
            </div>
            <div class="label-control">
                <label> Credit Hours:</label>
                <p id="credits1">{{selectedCourse.value?.credits}}</p>
                <input
                  class="form-control"
                  type="hidden"
                  formControlName="credits"
                  required
                />
              </div>

              <div class="label-control">
                <label>Class Code:</label>
                <p id="code1">{{selectedCourse.value?.code}}</p>
                <input
                  class="form-control"
                  type="hidden"
                  formControlName="code"
                  required
                />
              </div>    
              
              <div class="label-control">
                <label>Class Description:</label>
                <p id="description1">{{selectedCourse.value?.description}}</p>
                <input
                  class="form-control"
                  type="hidden"
                  formControlName="description"
                  required
                />
              </div>
    
              <div class="label-control">
                <label>Class Type:</label>
                <p id="type1">{{selectedCourse.value?.type}}</p>
                <input
                  class="form-control"
                  type="hidden"
                  formControlName="type"
                  required
                />
              </div>

              <div class="label-control">
                <label>Available Seats:</label>
                <p id="cap1">{{selectedCourse.value?.cap}}</p>
                <input
                  class="form-control"
                  type="hidden"
                  formControlName="cap"
                  required
                />
              </div>
            <div class="form-group">
                <input class="form-control" type="hidden" formControlName="owner" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>