<a class="navbar-brand">Dashboard</a>
<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Course List</h2>
    </div>
   
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">name</th>
            <th scope="col">code</th>
            <th scope="col">description</th>
            <th scope="col">credits</th>
            <th scope="col">type</th>
            <th scope="col">cap</th>
            <th class="text-center" scope="col">Update</th>
            <th class="text-center" scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of Course; let i = index">
            <th scope="row">{{course.name}}</th>
            <td>{{course.code}}</td>
            <td>{{course.description}}</td>
            <td>{{course.credits}}</td>
            <td>{{course.type}}</td>
            <td>{{course.cap}}
            <td class="text-center">
              <button class="btn btn-sm btn-primary"
                routerLink="/edit-course/{{course._id}}">Edit
                </button>
            </td>
            <td class="text-center">
              <form style="position: relative;border-width: 0px;border-radius: 0px;padding: 0px;border-color:white;background-color: white;"
               (ngSubmit)="onDelete(ref)">
                <input #ref type="hidden" id="courseId" value={{course._id}}>
                <button class="btn btn-sm btn-primary" type="submit" >Delete...</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>