<a class="navbar-brand">Dashboard</a>
<div class="container">

  <form style="position: relative;border-width: 0px;float:right;right: 5%;border-radius: 0px;padding: 0px;border-color:white;background-color: rgba( 71, 147, 227, 1);"
  (ngSubmit)="onLogout()">
  <button class="btn btn-sm btn-primary btn-float" type="submit">Logout</button>
  </form>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Course List</h2>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
            <th scope="col">Credits</th>
            <th scope="col">Type</th>
            <th scope="col">Cap</th>
            <th class="text-center" scope="col">Update</th>
            <th class="text-center" scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of Course; let i = index">
            <th scope="row">{{course.name}}</th>
            <td>{{course.code}}</td>
            <td>{{course.description}}</td>
            <td>{{course.credits}}</td>
            <td>{{course.type}}</td>
            <td>{{course.cap}}
            <td class="text-center">
              <button class="btn btn-sm btn-primary"
                routerLink="/edit-course/{{course._id}}">Change Course
                </button>
            </td>
            <td class="text-center">
              <form style="position: relative;border-width: 0px;border-radius: 0px;padding: 0px;border-color:white;background-color: white;"
               (ngSubmit)="onDelete(ref)">
                <input #ref type="hidden" id="courseId" value={{course._id}}>
                <button class="btn btn-sm btn-primary" type="submit" >Drop Course</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <form style="position: relative;left:50%;margin-left:-225px;border-width: 0px;border-radius: 0px;padding: 0px;border-color:white;background-color: rgba( 71, 147, 227, 1);"
    (ngSubmit)="onAdd()">
    <button style="width:350px;left:50%"class="btn btn-sm btn-primary" type="submit">Add Course</button>
    </form>
  </div>