<a class="navbar-brand">Register for Course</a>
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Date</label>
                <a> 01/10/2022 - 05/09/2022</a>
                <label> Class</label>
                <a>
                    <select formControlName="name" id="id1">
                        <option value="Intro to Programming">Intro to Programming</option>
                    </select>
                </a>
                <label> Credit Hours</label>
                <a formControlName="credits">3</a>
                <label> Code</label>
                <a formControlName="code">CIS 101</a>
                <label> Description</label>
                <a formControlName="description">First steps to learning how to create logic for basic programs</a>
                <label> Class Type</label>
                <a formControlName="type">Computer Science</a>
                <label> Available Seats</label>
                <a formControlName="cap">20</a>
            </div>
            <div class="form-group">
                <input class="form-control" type="hidden" formControlName="owner" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Add Course</button>
            </div>
            
        </form>
        <form [formGroup]="courseForm2" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Date</label>
                <a> 01/10/2022 - 05/09/2022</a>
                <label> Class</label>
                <a>
                    <select formControlName="name" id="id1">
                        <option value="Intro to Programming">Intro to Programming</option>
                    </select>
                </a>
                <label> Credit Hours</label>
                <a formControlName="credits">3</a>
                <label> Code</label>
                <a formControlName="code">CIS 101</a>
                <label> Description</label>
                <a formControlName="description">First steps to learning how to create logic for basic programs</a>
                <label> Class Type</label>
                <a formControlName="type">Computer Science</a>
                <label> Available Seats</label>
                <a formControlName="cap">20</a>
            </div>
            <div class="form-group">
                <input class="form-control" type="hidden" formControlName="owner" required>
            </div>

            
            <div class="form-group">
                <input class="form-control" type="hidden" formControlName="owner" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Add Course</button>
            </div>
        </form>
    </div>
</div>